.hl-command { color: #0fb44e; }
.hl-selector { color: #b89100; }
.hl-item { color: #00a5da; }
.hl-number { color: #e96e00; }
.hl-comment { color: #505050; }
.hl-error { color: #ff3b3e !important; text-decoration: line-through #c3292b; cursor: help; }
.hl-word { color: #008753 }
