    a {
        text-decoration: none;
        color: #ffffff;
        transition: color 0.2s ease-in-out;
    }

    a:hover {
        text-decoration: none;
        color: #05ee93;
    }


  .navi {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 75px;
      background-color: rgba(45, 45, 45, 0.6);
      backdrop-filter: blur(6px);
      display: flex;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      padding: 0 24px;
      z-index: 100;
  }

  .navi-brand {
    display: flex;
    background-color: #9adbb31a;
    padding: 4px 8px;
  }

  .navi-brand h2 {
      margin: 0;
  }

  .quick-links {
      display: flex;
      align-items: center;
      gap: 30px;
  }

/* --- Dropdown Button --- */
.dropdown-btn {
  top: 25px;
  right: 25px;
  z-index: 1000;
  color: #ffffff;
  text-align: center;
  user-select: none;
  transition: all 0.2s ease-in-out;
}

.dropdown-btn:hover {
  color: #05ee93;
}

.dropdown {
  position: fixed;
  width: 90%;
  background-color: rgba(45, 45, 45, 0.6);
  -webkit-backdrop-filter: blur(6px) !important;
  backdrop-filter: blur(6px) !important;
  
  /* ADD THESE TWO LINES */
  z-index: 9999 !important; 
  
  top: 75px;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  margin: auto;
  visibility: hidden;
  left: 0 !important;
  right: 0 !important;
}


/* Changed + to ~ to find the dropdown within the same parent */
.dropdown-btn.active ~ .dropdown,
.dropdown.active {
  opacity: 1;
  visibility: visible;
  -webkit-backdrop-filter: blur(6px) !important; /* Added for compatibility */
  backdrop-filter: blur(6px) !important;
}

.dropdown-content {
  width: 80%;
  justify-content: space-between;
  display: flex;
  margin: auto;
  color: #ffffff;
}

.dropdown-content a:hover {
  color: #05ee93;
}

#dd {
  width: 18px;
  height: 18px;
  background-image: url(https://mcbcode.com/img/icons/dropdown.png);
  background-size: cover;
  transition: background-image 0.2s ease-in-out, transform 0.3s ease-in-out;
}

#dd:hover,
#dd.active {
  background-image: url(https://mcbcode.com/img/icons/dropdown-selected.png);
  cursor: pointer;
}

#dd.active {
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}
