.username-owner {
color: #05ee93;
text-shadow: 0 0 20px #05ee9366;
font-family: mcfontb
}


.username-admin {
color: #fb045d;
text-shadow: 0 0 20px #fb045d55;
font-family: mcfontb
}


.username-developer,
.username-dev {
color: #ff9900;
text-shadow: 0 0 20px #ff990044;
font-family: 'Fira Code', monospace !important;
}


.username-obsidian {
color: #ff00d0;
font-family: mcfontb
}



username-verified {
color: #6d9cf6;
text-shadow: 0 0 20px #9b18ed55;
font-family: mcfontb
}


.username-tester {
color: #c2f66d;
font-family: mcfontb
}

